doctype html
html(lang="en" ng-app="nuttyOrNice")
  head
    title NuttyOrNice?
    include shared/head
  body(layout="row" layout-fill)
    md-content.md-default-theme.no-bg(layout="row" layout-fill ui-view)
