md-content.md-padding(flex)
  md-content(layout="row")
    md-card.nutty-card(flex="47")
      md-toolbar(style="height: 25px")
          .md-toolbar-tools
            span Nices
      .md-list.scroll
        md-item(ng-repeat="($id, nice) in noRelUser.nices")
          md-item(ng-repeat="($id, item) in nice.occurences")
            md-item-content
              .md-tile-left
                  img.face(ng-src="{{item.picture}}" alt="{{noRelUser.name}}")
              .md-tile-content
                h3 {{item.title}}
                h4 {{item.description}} ooooo
    md-card.nutty-card(flex="47")
      md-toolbar(style="height: 25px")
        .md-toolbar-tools
          span Nuttys
      .md-list.scroll
        md-item(ng-repeat="($id, nutty) in noRelUser.nuttys")
          md-item(ng-repeat="($id, item) in nutty.occurences")
            md-item-content
              .md-tile-left
                  img.face(ng-src="{{item.picture}}" alt="{{noRelUser.name}}")
              .md-tile-content
                h3 {{item.title}}
                h4 {{item.description}} ooooo
  md-content(layout="row")
    md-card.nutty-card(flex="47")
      md-toolbar(style="height: 25px")
          .md-toolbar-tools
            span Rewards
      .md-list.scroll
        md-item(ng-repeat="($id, nice) in noRelUser.nices")
          md-item(ng-repeat="($id, item) in nice.occurences")
            md-item-content
              .md-tile-left
                  img.face(ng-src="{{item.picture}}" alt="{{noRelUser.name}}")
              .md-tile-content
                h3 {{item.consequence}}
    md-card.nutty-card(flex="47")
      md-toolbar(style="height: 25px")
          .md-toolbar-tools
            span Punishments
      .md-list.scroll
        md-item(ng-repeat="($id, nutty) in noRelUser.nuttys")
          md-item(ng-repeat="($id, item) in nutty.occurences")
            md-item-content
              .md-tile-left
                  img.face(ng-src="{{item.picture}}" alt="{{noRelUser.name}}")
              .md-tile-content
                h3 {{item.consequence}}
