md-content.md-default-theme.no-bg(layout="column" layout-fill)
  div(ng-if="currentUser.relationship_ref")
      ng-include(src="'views/relationship.html'")
  div(ng-if="!currentUser.relationship_ref")
    md-toolbar#home-toolbar
      .md-toolbar-tools
        span.title NuttyOrNice?
        span(flex layout="row" layout-align="end center" ng-if="currentUser")
          input#name-search(ng-show="searching" ng-model="search.name" placeholder="Name" style="margin-right: -48px")
          md-button(ng-click="showBottomSheet($event)")
            i.fa.fa-ellipsis-v
    .main-container(layout="vertical")
        ng-include(src="'views/invite.html'")
      
