md-dialog.user-dialog
  md-toolbar(ng-style="{'background-color': cyan}")
    .md-toolbar-tools
      p Nice :)
  md-content(layout="column" layout-fill)
    form(name="form")
      select(ng-options="$id as nice.title for ($id, nice) for nice in relationship.nices" ng-model="selectedUser.existing_nutty" )
        option(value="") Select From This List or Enter a New Nice Thing
      div(ng-if="!selectedUser.existing_nutty")
        md-text-float(label="Short Title" ng-model="selectedUser.nuttyObj.title" required)
        md-text-float(label="Reward" ng-model="selectedUser.nuttyObj.consequence" required)
      md-text-float(label="Description of this occurence" ng-model="selectedUser.nuttyObj.description" required)
  .md-actions(layout="row" layout-align="space-around center")
    md-button.md-primary(ng-click="recordNutty('nices')" ng-disabled="!form.$valid") Save