md-dialog.user-dialog
  md-content
    md-content(layout="column" layout-fill)
      md-toolbar(style="height: 50px")
        .md-toolbar-tools
          span Select A Relationship
      md-content.md-padding
        md-list
          md-item(ng-repeat="relationship in relationships")
              .user-list
                md-button.md-raised.md-primary.small-text.small-margin(ng-bind="relationship.name" aria-label="{{relationship.name}}" ng-click="goto(relationship.$id)")